@import '../../styles/variables';

.button {
    height: 50px;
    color: $color-yellow;
    background-color: $color-black;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 4px;

    &:focus {
        border: none;
        outline: none;
    }
}