.login-page {
    width: 100%;
    background-color: grey;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-form-wrapper {
        width: 80%;
        box-sizing: border-box;
    }
}
