// common-colors

$color-yellow: #FFE300;
$color-light-blue: #4BD5EE;
$color-black: #000;
$color-white: #FFF;
$color-grey: #E8EAED;
$color-dark-grey: #4E5B6E;
$color-light-grey:#E5E9F2;
$color-wheat: #EFF2F7;
$color-mouse: #333;
$color-greish: #3C4858;
$color-very-light-grey: #abb1ba;
$color-bluesh-grey: #273444;
