// common-colors

$swapp-yellow: #FFE300;
$swapp-light-blue: #4BD5EE;
$swapp-black: #000;
$swapp-white: #FFF;

// light-theme
$swapp-default-background: #E8EAED;
$swapp-default-color: #4E5B6E;

// cards

$swapp-card-border-color:#E5E9F2;

$swapp-card-background: #FFF;

// solid buttons
$swapp-solid-button-background: #000;

$button-border-color: #E5E9F2;

$button-font-color: #FFE300;

// outline button
$outline-button-background: #EFF2F7;

$outline-button-border: #E5E9F2;

$outline-button-font: inherit;

// inputs 
$input-background: #EFF2F7;

// ● Border-color: #E5E9F2
// ● Font Color: #3C4858
// vii. App Bar:
// ● Background: #000
// ● Border-color: #333
// ● Font Color: #4BD5EE
// viii. Primary Heading:
// ● Font Color: #4BD5EE
// ix. Radar:
// ● Font Color: #4BD5EE
// ● Background:#000
// ● Grid: #3C4858
// c. Dark Theme:
// i. Default Background: #000
// ii. Default Font Color: #abb1ba
// iii. Cards:
// ● Border-color: #3C4858
// ● Background: #333
// iv. Solid Buttons:
// ● Background: #4BD5EE
// ● Border-color: none
// ● Font Color: #FFE300
// v. Outline Buttons:
// ● Border-color: #3C4858
// ● Background: #333
// ● Font Color: inherit
// vi. Inputs:
// ● Background: #FFF
// ● Border-color: #3C4858
// ● Font Color: #273444
// vii. App Bar:
// ● Border-color: #3C4858
// ● Background: #333
// ● Font Color: #4BD5EE
// viii. Primary Heading:
// ● Font Color: #FFE300
// ix. Radar:
// ● Font Color: #FFE300
// ● Background:#000
// ● Grid: #333
