@import './variables.scss';


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

a:visited,
a:active {
    color: $color-light-blue;
    text-decoration: none;
}