@import './../../styles/variables';

.small-card {
    width: 100%;
    background-color: $color-white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    img {
        height: 100px;
        width: auto;
    }

    .small-card-text {
        display: flex;
        justify-content: center;
        color: $color-light-blue;
        font-size: 21px;
        font-weight: bold;
        flex-grow: 1;
    }
}