@import '../.././styles/_variables';

.characters-page {
    background-color: $color-grey;
    width: 100%;
    height: 100%;

    section {
        display: flex;
        height: 85%;
        padding: 0 10%;
        align-items: center;

        .character-list-holder {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }    
}