@import '../../styles/variables';

.episodes-page {
  background-color: $color-grey;


  section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10%;
  }
}
